body {
  background-color: rgba(3, 47, 62, 0.872);
}

.contenedor{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right:400px;
    margin-left: 400px;
    background-color: aliceblue;
}